<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/6677f676f2.js" ></script>
    <link rel="stylesheet" href="../../assets/all/css/style.css">
   <title>Certificados</title>
</head>
<body>
    
    <nav>
        <iframe class="ifm" src="../../views/layaut/nav.html"></iframe>
    </nav>

    <div class="container " >
        <a href="../perfil/perfil.html"><button  class="btsalir btn btn-outline-dark bts eebtn"><i class="fas fa-angle-left"></i></button></a>
    </div>

    <div class="container  ">
        <div class="row">
            <div class="conmargen">
                <div >
                    <img src="../../assets/all/img/archivosg.jpg" alt="" class="imgcar">
                    <a href="" class="txtcer "><b> Archivos Guardados </b></a>
                </div>
                
                <div >
                    <img src="../../assets/all/img/pdf.jpg" alt="" class="imgcar1">
                    <a href="" class="txtcer "><b> certificado 28/09/2000 </b></a>
                </div>

                <div >
                    <img src="../../assets/all/img/pdf.jpg" alt="" class="imgcar1">
                    <a href="" class="txtcer "><b> certificado 28/09/2000 </b></a>
                </div>

                <div >
                    <img src="../../assets/all/img/pdf.jpg" alt="" class="imgcar1">
                    <a href="" class="txtcer "><b> certificado 28/09/2000 </b></a>
                </div>

                <div class="dbtnc">
                    <button class="btn btn-success">Descargar</button>
                    <button class="btn btn-primary">Imprimir</button>
                </div>
            </div>
        </div>
    </div>









    <section class="espacio2" style="background-color: #0F664F;">
        <div class="container">
            <div class="row ">
                <div class="espacio3 col-md-2">
                    <iframe class="espacior" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15907.43493835043!2d-74.18271155000001!3d4.61927965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1591332214385!5m2!1ses-419!2sco" width="120 " height="100" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="col-md-5">
                    <p class="espacior cp"><strong>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime debitis quisquam suscipit</strong></p>
                    <p class="cp1"><strong> Copyright © 2019 </strong></p>
                </div>
                <div class="">
                    <img class="imgmt2 espacior" src="../../assets/all/img/mintrabajo.jpg" alt="">
                </div>
            </div>
        </div>    
    </section>







    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

</body>
</html>