<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>certificado</title>
    <link rel="stylesheet" href="../../assets/all/css/style.css">
    <link rel="stylesheet" href="../../assets/libs/bootstrap-4/css/bootstrap.css">
</head>
<body>
<!-- encabezado -->
<nav>
    <iframe class="ifm" src="../../views/layaut/nav.html"></iframe>
</nav>
<!-- certificado -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 colr">
                <center><div class="panel-body pbc1">
                    <img class="imgc1" src="../../assets/all/img/senacer.png">
                    <h2 class="h2c">CERTIFICA</h2>
                    <h3 class="h3c1">Que el señor Lorem Ipsum Dolor Situndefined, indentificado con  cédula de 
                        ciudadanía número 102 383 86 99 labora en nuestra compañía desde el 8 de
                        Junio de 2015, en misión para la organización SENA, desempeñando el cargo de 
                        DOCENTE DE DISEÑO WEB, con un contrato por labor contratada</h3>
                    <h3 class="h3c2">El valor acordado bilateralmente, corresponde  al  sueldo de $ 3 600 000.</h3>
                    <h3 class="h3c3">Lo anterior asciende al valor de TRES MILLONES SEISCIENTOS MIL PESOS.</h3>
                    <h3 class="h3c4">La presente se expide a solicitud del interesado a los 25 días del mes de Julio de 2019.</h3>
                    <h3 class="h3c2">Cordialmente</h3>
                    <div class="divimg2"><img class="img2c" src="../../assets/all/img/firmac.png"></div>    
                    <h3 class="h3c2">Liana Carolina Romero Castro</h3>
                    <h3 class="h3c5">Gestora de documentos CEET</h3>
                </div></center>
            </div>
        </div>
    </div>
</section>
<!--pie de pagina-->
<section class="espacio2" style="background-color: #0F664F;">
    <div class="container">
        <div class="row ">
            <div class="espacio3 col-md-2">
                <iframe class="espacior" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15907.43493835043!2d-74.18271155000001!3d4.61927965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1591332214385!5m2!1ses-419!2sco" width="120 " height="100" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-md-5">
                <p class="espacior cp"><strong>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime debitis quisquam suscipit</strong></p>
                <p class="cp1"><strong> Copyright © 2019 </strong></p>
            </div>
            <div class="">
                <img class="imgmt2 espacior" src="../../assets/all/img/mintrabajo.jpg" alt="">
            </div>
        </div>
    </div>    
</section>
</body>
</html>