<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmacion</title>
    <link rel="stylesheet" href="../../assets/all/css/style.css">
    <link rel="stylesheet" href="../../assets/libs/bootstrap-4/css/bootstrap.css">
</head>
<body>
<!-- encabezado -->
<nav>
    <iframe class="ifm" src="../layaut/nav.html"></iframe>
</nav>    
<!-- contenido -->
<section>
    <div class="container">
        <div class="row">
            <div class="panel-body">
                <h1></h1>
                <h4>La  cuenta de usuario se creó satisfactoriamente, en unos minutos estará
                    recibiendo un  correo electrónico a la cuenta de correo ingresada para
                    confirmar y finalizar el proceso de registro. 
                </h4>   
            </div>
        </div>
    </div>
</section>
<!-- pie de pagina -->

</body>
</html>