/* footer */
footer{
    width: 100%;
}

iframe{
    width: 100%;
    border-style: none;
}

/*css de index*/

.espacio1{
    margin-top: 2rem;
}

.imgl{
    width: 5rem;
    height: 5rem;
}

.espacio{
margin-top: 1.5rem;
margin-right: 3rem;
}

.tletra{
    font-family: sans-serif;
    
}
.tmbtn{
    width: 10rem;
    height: 4rem;
    font-size: center;
    line-height: 1.2rem;
}

.espacio2{
    margin-top: 5rem;
    
}
.espacio3{
    margin-left: 11rem;
}
.espacior{
    margin-top: 2rem;
}

.bts{
    border-radius: 100%;
}

.cp{
    color: white;
}
.cp1{
    color: white;
    text-align: center;
}

.imgmt{
    width: 20rem;
    height: 5rem;}


    /* Ingresar */

.btsalir{
    border-radius: 100%;
}

.borde{
    border: 2px solid black;
    border-radius: 5%;
    width: 23rem;

}

.imhghoja{
    margin-top: 5rem;
    height: 150px;
    width: 150px;
    
}

.imgrs{
    margin-top: 6rem;
    margin-left: 3.8rem;
    height: 90px;
    width: 90px;
}

.btningresar{
    margin-top: 1.5rem;
    margin-left: 4rem;
    margin-block-end: 7rem;
    color: black;
    border-radius: 10%;

}

.imgmt2{
    width: 10rem;
    height: 2rem;}




/* registro */
.panel-body{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px black solid;
    border-radius: 20px 20px 20px 20px;
    
}  

.hrr{
    border: solid 1px black ;
    width: 90%;
}

.ir{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.br{
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inner-addon { 
    position: relative; 
}

.inner-addon .item {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon .item{ 
    left:  27px;
}

.right-addon .item{ 
    right: 0px;
}


.left-addon input{ 
    padding-left:  30px; 
}

.right-addon input{
    padding-right: 30px; 
}

.btn24{
    margin-top: 1rem;
    
}

